@model List<Note>

<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-dark">
            Notes
        </h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Notes" asp-action="Create" class="btn btn-dark"><i class="bi bi-plus-circle"></i>&nbsp; Create a note</a>
    </div>
</div>

<hr class="pb-2" />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model.OrderBy(o => o.CreatedAt))
        {
            <tr>
                <td>@note.Title</td>
                <td>@note.Content</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Notes" asp-action="Edit" asp-route-id="@note.Id" class="btn btn-dark mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-controller="Notes" asp-action="Delete" asp-route-id="@note.Id" class="btn btn-outline-danger mx-2">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>